In [7]:
import pandas as pd
import numpy as np

In [4]:
mydict = {'qaz':100,'wsx':123,'edc':1111,'rrf':33,'tgb':5545}
list(mydict.values())

[100, 123, 1111, 33, 5545]

In [29]:
pd_data = pd.DataFrame(np.random.randn(6,4),columns=['A','B','C','C'])
pd_data

          A         B         C         C
0  0.341199 -0.167380  0.175688 -1.367808
1 -1.173101 -0.331956 -1.081363  1.262586
2 -0.187288 -0.571724  0.888217 -1.756613
3  1.232459 -0.291916 -0.245999  0.173055
4 -0.061941 -1.378493 -2.409016 -0.214424
5 -0.649567  2.060864 -0.461677  0.134893

In [30]:
 np.argwhere(pd_data.columns == 'C')

array([[2],
       [3]], dtype=int64)