In [7]:
import pandas as pd
import numpy as np

In [17]:
#读入csv文件
file = r'C:\all_gis.xlsx'
#bj_gis = pd.read_excel('E:/gz-work/project/VRP/src/dis/raw_ord_data.xls',sheet='Sheet1')
bj_gis = pd.read_excel(file)
bj_gis.to_csv('C:/gis.csv')
#剔除['lat','lng']重复的行
bj_gis = bj_gis.drop_duplicates(subset=['lat','lng'], keep='last').reset_index(drop=True) #剔除重复的保留一个
bj_gis.to_csv('C:/filter_gis.csv')

In [11]:
bj_gis.columns

Index(['运输单号', '运单号', '订单号', '订单来源', '车队(站点)', '承运商类型', '承运商', '承运商车队', '发货商家',
       '调度状态', '调度单号', '调度中心', '装载序号', '始发网点', '接货仓', '始发网点卡位', '目的省份', '目的城市',
       '目的县区', '目的乡镇', '目的地址', '包裹个数', '体积', '重量', '温层', '预约提货时间', '配送开始时间',
       '配送结束时间', '编号', 'lat', 'lng'],
      dtype='object')

In [21]:
bj_gis.columns

Index(['运输单号', '运单号', '订单号', '订单来源', '车队(站点)', '承运商类型', '承运商', '承运商车队', '发货商家',
       '调度状态', '调度单号', '调度中心', '装载序号', '始发网点', '接货仓', '始发网点卡位', '目的省份', '目的城市',
       '目的县区', '目的乡镇', '目的地址', '包裹个数', '体积', '重量', '温层', '预约提货时间', '配送开始时间',
       '配送结束时间', '编号', 'lat', 'lng'],
      dtype='object')

In [17]:
bj_gis.dtypes

运输单号              object
运单号               object
订单号               object
订单来源              object
车队(站点)            object
承运商类型             object
承运商               object
承运商车队             object
发货商家              object
调度状态              object
调度单号              object
调度中心              object
装载序号             float64
始发网点              object
接货仓               object
始发网点卡位            object
目的省份              object
目的城市              object
目的县区              object
目的乡镇              object
目的地址              object
包裹个数             float64
体积               float64
重量               float64
温层                object
预约提货时间           float64
配送开始时间            object
配送结束时间    datetime64[ns]
编号                 int64
lat              float64
long             float64
dtype: object

In [10]:
bj_gis.to_csv('E:/gz-work/project/VRP/raw_ord.csv')

In [10]:
len(bj_gis)

111

In [5]:
#0~10行,包括端点
bj_gis.loc[0:10,:]

         sale_ord_id       lat        lng
0        72320866680  39.79273  116.51147
1   ESL4418309788779  39.96789  116.46168
2   ESL4418309787193  39.96789  116.46168
3   ESL4418309788775  39.96789  116.46168
4   ECO4418048903145  39.75687  116.36155
5   ECO4418048902823  39.82943  116.28314
6        73296377248  39.97701  116.33202
7        73294182145  39.93465  116.22406
8        73324051303  39.97467  116.35221
9        72265279219  39.97691  116.33202
10       73258742504  39.92715  116.33330

In [11]:
#剔除['lat','lng']重复的行
bj_gis = bj_gis.drop_duplicates(subset=['lat','lng'], keep='last').reset_index(drop=True) #剔除重复的保留一个

In [12]:
len(bj_gis)

38

In [13]:
bj_gis

         sale_ord_id        lat         lng
0   ESL4418309788775  39.967890  116.461680
1   ECO4418048903145  39.756870  116.361550
2   ECO4418048902823  39.829430  116.283140
3        73294182145  39.934650  116.224060
4        72265279219  39.976910  116.332020
5        73258742504  39.927150  116.333300
6        73296374443  39.977010  116.332020
7        73324051271  39.974670  116.352210
8   ECO4418048913215  39.858040  116.316850
9   ECO4418048914362  40.044380  116.334130
10  ECO4418048913437  39.860560  116.541100
11       72312423671  39.792730  116.511470
12       73311643202  39.975520  116.499590
13       72314641362  40.030189  116.334298
14       73258629645  39.709927  116.327534
15       72237548188  39.907580  116.248350
16       72237453397  39.869250  116.373990
17       72237336404  -1.000000   -1.000000
18       72282189074  40.148300  116.288700
19       72237032190  39.905980  116.435420
20       73286835720  39.892870  116.406390
21       73311186917  40.124110  116.206990
22       72914753032  40.039950  116.416870
23       72264652434  39.928550  116.416370
24       73293989636  39.782180  116.566950
25       72237254391  39.899020  116.374960
26       72243160056  39.949080  116.459130
27       73258757413  39.932890  116.516480
28       72237393429  39.954940  116.432730
29       72237337204  39.968730  116.436060
30       72259118837  40.042717  116.413628
31       73310545125  39.979030  116.313030
32       73295543846  39.775100  116.543130
33       73222982857  40.080660  116.229440
34       73322041063  39.924260  116.301890
35       73293997258  39.907150  116.323070
36       72264446071  39.993190  116.331110
37       72219636694  40.136320  116.451270

In [14]:
bj_gis.to_csv('E:/gz-work/project/VRP/after_filter_gis.csv')