In [1]:
import pandas as pd

In [7]:
pd_data = pd.DataFrame([[1,2,3],[6,5,4]],columns=list('ABC'))

In [17]:
pd_data.to_excel('pd_data_save.xls')

In [13]:
for index, seri in pd_data.iterrows():
    print('index = %d' %(index))
    print(seri)

index = 0
A    1
B    2
C    3
Name: 0, dtype: int64
index = 1
A    6
B    5
C    4
Name: 1, dtype: int64

In [14]:
type(pd_data.iterrows())

generator

In [15]:
pd_data.columns.get_loc('C')

2

In [37]:
s=pd.DataFrame([[1,2.0, 3.0],[2,3.2,1.4],[3,9.0,0.7],[4,3.1,2.9]], columns=['no','x','y'])
s

   no    x    y
0   1  2.0  3.0
1   2  3.2  1.4
2   3  9.0  0.7
3   4  3.1  2.9

In [41]:
s1 = s.copy()
s1.columns = ['s_no', 's_x', 's_y']
s2 = s.copy()
s2.columns = ['e_no', 'e_x', 'e_y']
s1.loc[:,'key'] = -1
s2.loc[:,'key'] = -1
res = s1.merge(s2,left_on='key',right_on='key')
res

    s_no  s_x  s_y  key  e_no  e_x  e_y
0      1  2.0  3.0   -1     1  2.0  3.0
1      1  2.0  3.0   -1     2  3.2  1.4
2      1  2.0  3.0   -1     3  9.0  0.7
3      1  2.0  3.0   -1     4  3.1  2.9
4      2  3.2  1.4   -1     1  2.0  3.0
5      2  3.2  1.4   -1     2  3.2  1.4
6      2  3.2  1.4   -1     3  9.0  0.7
7      2  3.2  1.4   -1     4  3.1  2.9
8      3  9.0  0.7   -1     1  2.0  3.0
9      3  9.0  0.7   -1     2  3.2  1.4
10     3  9.0  0.7   -1     3  9.0  0.7
11     3  9.0  0.7   -1     4  3.1  2.9
12     4  3.1  2.9   -1     1  2.0  3.0
13     4  3.1  2.9   -1     2  3.2  1.4
14     4  3.1  2.9   -1     3  9.0  0.7
15     4  3.1  2.9   -1     4  3.1  2.9

In [43]:
res = res.drop('key',axis=1) #去掉标签为key的列

ValueError: labels ['key'] not contained in axis

In [52]:
mask = res.loc[:,'s_no']!=res.loc[:,'e_no']
mask

0     False
1      True
2      True
3      True
4      True
5     False
6      True
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15    False
dtype: bool

In [56]:
res = res[mask]
res

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

    s_no  s_x  s_y  e_no  e_x  e_y
1      1  2.0  3.0     2  3.2  1.4
2      1  2.0  3.0     3  9.0  0.7
3      1  2.0  3.0     4  3.1  2.9
4      2  3.2  1.4     1  2.0  3.0
6      2  3.2  1.4     3  9.0  0.7
7      2  3.2  1.4     4  3.1  2.9
8      3  9.0  0.7     1  2.0  3.0
9      3  9.0  0.7     2  3.2  1.4
11     3  9.0  0.7     4  3.1  2.9
12     4  3.1  2.9     1  2.0  3.0
13     4  3.1  2.9     2  3.2  1.4
14     4  3.1  2.9     3  9.0  0.7

In [59]:
res = res.reset_index(drop=True)
res

    s_no  s_x  s_y  e_no  e_x  e_y
0      1  2.0  3.0     2  3.2  1.4
1      1  2.0  3.0     3  9.0  0.7
2      1  2.0  3.0     4  3.1  2.9
3      2  3.2  1.4     1  2.0  3.0
4      2  3.2  1.4     3  9.0  0.7
5      2  3.2  1.4     4  3.1  2.9
6      3  9.0  0.7     1  2.0  3.0
7      3  9.0  0.7     2  3.2  1.4
8      3  9.0  0.7     4  3.1  2.9
9      4  3.1  2.9     1  2.0  3.0
10     4  3.1  2.9     2  3.2  1.4
11     4  3.1  2.9     3  9.0  0.7