In [1]:
import pandas as pd

#创建pd_data，values是二维list，index默认(0,1,2,...)，columns: ['A','B','C']
pd_data = pd.DataFrame([ [4, 9, 1], [3, 5, 2] ], columns = list('ABC') )
pd_data

   A  B  C
0  4  9  1
1  3  5  2

In [2]:
pd_data.values

array([[4, 9, 1],
       [3, 5, 2]], dtype=int64)

In [6]:
pd_data.index

RangeIndex(start=0, stop=2, step=1)

In [4]:
pd_data.columns

Index(['A', 'B', 'C'], dtype='object')

In [10]:
#索引
pd_data['B']

0    9
1    5
Name: B, dtype: int64

In [15]:
pd_data.loc[1,'B']

5

In [18]:
#访问不存在的标签
pd_data.loc[:,'D'] = 10
pd_data

   A  B  C   D
0  4  9  1  10
1  3  5  2  10

In [19]:
pd_data.loc[-1,:] = 0
pd_data

      A    B    C     D
 0  4.0  9.0  1.0  10.0
 1  3.0  5.0  2.0  10.0
-1  0.0  0.0  0.0   0.0

In [22]:
pd_data['E'] = 1
pd_data

      A    B    C     D  E
 0  4.0  9.0  1.0  10.0  1
 1  3.0  5.0  2.0  10.0  1
-1  0.0  0.0  0.0   0.0  1

In [23]:
pd_data[-1] = -11

In [29]:
pd_data

      A    B    C     D  E  -1
 0  4.0  9.0  1.0  10.0  1 -11
 1  3.0  5.0  2.0  10.0  1 -11
-1  0.0  0.0  0.0   0.0  1 -11

In [45]:
#删除某列
pd_data=pd_data.drop('E',axis=1)

ValueError: labels ['E'] not contained in axis

In [46]:
pd_data

      A    B    C     D  -1
 0  4.0  9.0  1.0  10.0 -11
 1  3.0  5.0  2.0  10.0 -11
-1  0.0  0.0  0.0   0.0 -11

In [49]:
#删除某行
pd_data = pd_data.drop(-1,axis=0)

In [63]:
#如果标签为1的行有多个，删除会是
pd_data = pd_data.append(pd.Series([1]*5,index=['A','B','C','D',-1], name=1))
pd_data

     A    B    C     D  -1
0  4.0  9.0  1.0  10.0 -11
1  2.0  2.0  2.0   2.0   2
1  1.0  1.0  1.0   1.0   1

In [65]:
pd_data = pd_data.drop(1,axis=0)
pd_data

     A    B    C     D  -1
0  4.0  9.0  1.0  10.0 -11