In [1]:
import pandas as pd

In [2]:
#创建pandas的series

#只指定values

s1 = pd.Series( [3,5,7])

#还指定index

s2 = pd.Series( [3,5,7], index = list('ABC') )

#再指定name

s3 = pd.Series( [3,5,7], index = list('ABC'),name='s3' ) #指定name的作用：append到pd中的行索引标签

In [3]:
mix = pd.Series( [3, '5', 7.0] ) # 此时的mix的类型为object，而不是像上面的int64
mix

0    3
1    5
2    7
dtype: object

In [4]:
#修改索引
s1.index = ['a','b','c']
s1

a    3
b    5
c    7
dtype: int64

In [6]:
#增加series

s3.add(s2)

A     6
B    10
C    14
dtype: int64

In [7]:
s3.append(s2)

A    3
B    5
C    7
A    3
B    5
C    7
dtype: int64

In [8]:
#删除
s3.drop('A')

B    5
C    7
Name: s3, dtype: int64

In [9]:
#修改
s3['B'] = 6
s3

A    3
B    6
C    7
Name: s3, dtype: int64

In [11]:
s3[1] = 6
s3

A    3
B    6
C    7
Name: s3, dtype: int64

In [15]:
#创建DataFrame
pd_data = pd.DataFrame([[9,0,1],[7,3,10]])
pd_data

   0  1   2
0  9  0   1
1  7  3  10

In [16]:
#装载Series
pd_data.append(s3)

      0    1     2    A    B    C
0   9.0  0.0   1.0  NaN  NaN  NaN
1   7.0  3.0  10.0  NaN  NaN  NaN
s3  NaN  NaN   NaN  3.0  6.0  7.0

In [21]:
pd_data.columns=list('ABC')
pd_data.append(s3)

    A  B   C
0   9  0   1
1   7  3  10
s3  3  6   7